In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
import seaborn as sns
from datetime import datetime, timedelta, date

%matplotlib inline

In [2]:
df = pd.read_csv('data/cleaned_data.csv')

# 10 Countries with highest number of New Cases on the latest date

In [3]:
df_top10_newcases = df.nlargest(11,'NewCases')
df_top10_newcases = df_top10_newcases[['Country,Other','NewCases']]                                     
print("10 Countries with highest number of New Cases on", date.today())
df_top10_newcases

10 Countries with highest number of New Cases on 2020-05-28

   Country,Other  NewCases
0          World   28686.0
3         Russia    8371.0
16        Mexico    3463.0
11          Iran    2258.0
17      Pakistan    2076.0
21    Bangladesh    2029.0
22       Belarus     902.0
10         India     873.0
32        Kuwait     845.0
31     Indonesia     687.0
52          Oman     636.0

# 10 Countries with highest number of Active Cases on the latest date

In [4]:
df_top10_activecases = df.nlargest(11,'ActiveCases')
df_top10_activecases = df_top10_activecases[['Country,Other','ActiveCases']]                                     
print("10 Countries with highest number of Active Cases on", date.today())
df_top10_activecases

10 Countries with highest number of Active Cases on 2020-05-28

   Country,Other  ActiveCases
0          World    2940427.0
1            USA    1153646.0
3         Russia     223916.0
2         Brazil     222317.0
7         France      87733.0
10         India      86515.0
12          Peru      75753.0
4          Spain      59773.0
6          Italy      50966.0
14         Chile      47908.0
17      Pakistan      39736.0